@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Alfa+Slab+One");
/*Used colors: dark-brown: #232726 gold: #e8c15f*/
/*======== Global ========*/
.container {
  max-width: 1200px;
  width: 100%;
  padding: 0px; }

.row {
  padding: 15px;
  margin: 0; }

/*======== Header ========*/
.socialbar {
  position: fixed;
  top: 0;
  color: #fff;
  font-weight: 700;
  text-align: center;
  background-color: #232726;
  width: 100%;
  height: 26px;
  line-height: 26px;
  z-index: 100000000; }
  .socialbar a {
    color: #fff; }
  .socialbar span {
    margin: 0 10px; }
    .socialbar span i {
      margin: 0 5px; }

header {
  position: absolute;
  top: 26px;
  width: 100%;
  background-color: #232726;
  border-top: 1px groove #aaa;
  border-bottom: 1px groove #aaa;
  position: fixed;
  z-index: 10000; }
  header .header {
    width: 100%;
    height: 60px;
    line-height: 60px; }
    header .header img {
      max-width: 300px; }

/* header: DesktopNav */
.nav {
  float: right; }
  .nav ul {
    list-style-type: none; }
  .nav li {
    display: inline-block;
    padding: 0 20px;
    color: #fff;
    cursor: pointer; }
  .nav a:hover li {
    background-color: #2e3331; }
  .nav .active {
    color: #e8c15f; }

@media (max-width: 1056px) {
  .nav li {
    padding: 0 10px; } }
@media (max-width: 767px) {
  .nav {
    display: none; } }
/* header: HabmurgerNav */
.hamburger {
  background: none;
  position: absolute;
  top: 0;
  right: 20px;
  line-height: 60px;
  padding: 0 15px;
  color: #e8c15f;
  border: 0;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000; }

.cross {
  background: none;
  position: absolute;
  top: 0px;
  right: 25px;
  padding: 5px 15px 0px 15px;
  color: #e8c15f;
  border: 0;
  font-size: 3em;
  line-height: 65px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000; }

.menu {
  z-index: 1000000;
  font-weight: bold;
  font-size: 0.8em;
  width: 100%;
  background: #f1f1f1;
  position: fixed;
  top: 88px;
  text-align: center;
  font-size: 12px; }

.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none; }

.menu li {
  padding: 15px 0 15px 0;
  border-bottom: #dddddd 1px solid; }

.menu li:hover {
  display: block;
  background: #f7f7f7;
  padding: 15px 0 15px 0;
  border-bottom: #dddddd 1px solid; }

.menu a {
  text-decoration: none;
  color: #666; }

.menu a :hover {
  text-decoration: none;
  color: #666; }

.glyphicon-home {
  color: #fff;
  font-size: 1.5em;
  margin-top: 5px;
  margin: 0 auto; }

.header {
  display: inline-block;
  font-size: 12px; }

@media (min-width: 768px) {
  .hamburger {
    display: none; } }
/*======== Carousel ========*/
.fa-arrow-circle-o-down {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 80px;
  color: #232726;
  z-index: 1000;
  animation: blinker .9s ease infinite;
  cursor: pointer; }

@keyframes blinker {
  50% {
    opacity: .7; } }
.carousel-control {
  transition: .5s ease; }

@media (max-width: 767px) {
  .fa-arrow-circle-o-down {
    font-size: 60px; } }
.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.carousel-caption {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(232, 193, 95, 0.6);
  width: 100%;
  text-align: left;
  margin: 0; }
  .carousel-caption h3 {
    position: relative;
    bottom: 20px;
    color: #232726;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    text-shadow: none;
    padding: 20px 20px 20px 40px; }

#mycarousel li {
  border: 1px solid #232726; }
#mycarousel .active {
  background-color: #232726; }

/*======== Home ========*/
main .container {
  min-height: 300px; }

.content {
  margin-top: 0px;
  border-left: solid 2px #232726;
  border-right: solid 2px #232726; }

.values {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  letter-spacing: 3px;
  font-family: 'Alfa Slab One', cursive;
  color: #232726;
  padding: 120px 30px 30px 30px; }
  .values h1 {
    font-size: 40px;
    float: left;
    padding: 10px 30px; }

.flex {
  border-top: 1px groove #232726;
  border-bottom: 1px groove #232726;
  margin-bottom: 100px; }
  .flex .stamp {
    text-align: center; }
  .flex img {
    max-width: 250px;
    float: left; }
  .flex h2 {
    margin-top: 70px;
    padding: 30px auto; }

@media (max-width: 767px) {
  .flex img {
    float: none;
    text-align: center; } }
.contentbox {
  display: flex;
  align-items: stretch; }

@media (max-width: 767px) {
  .contentbox {
    display: block; } }
.guarantee {
  color: #e8c15f;
  background-color: #232726;
  padding-right: 30px; }

.welcome {
  max-width: 600px;
  padding-bottom: 10px;
  margin: 0 auto 50px auto;
  text-align: justify; }
  .welcome p {
    padding: 20px 0 80px 40px;
    color: #888; }

.picbuttons {
  margin: 0 auto 30px auto;
  width: 100%;
  max-width: 400px; }

.picbutton {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
  cursor: pointer;
  background-image: url("../images/marble1.jpg");
  background-size: cover;
  color: #232726;
  text-align: center;
  z-index: 0; }
  .picbutton a {
    color: #232726; }
  .picbutton :hover {
    text-decoration: none; }
  .picbutton h1 {
    line-height: 150px;
    margin: 0; }
  .picbutton :before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e8c15f;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform .3s ease-out; }
  .picbutton :hover:before {
    transform: scaleX(1); }

.staff {
  text-align: center;
  color: #e8c15f;
  background-color: #232726;
  padding-top: 50px; }
  .staff h1 {
    font-family: 'Alfa Slab One', cursive;
    text-transform: uppercase;
    padding-bottom: 30px;
    letter-spacing: 2px; }
  .staff img {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 20px auto 60px auto; }
  .staff h4 {
    padding: 0 20px 50px 20px; }

/*======== Brands ========*/
.brands-header {
  text-align: center;
  margin-top: 100px;
  background-color: #eee;
  border-bottom: solid thin #ddd; }

.brands-header h1 {
  margin: 0;
  padding: 20px; }

.brands {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  background-color: #eee; }

#brands-carousel-left,
#brands-carousel-center,
#brands-carousel-right {
  margin: 50px auto 0 auto;
  width: 300px;
  height: 200px;
  overflow: hidden;
  box-shadow: 3px 4px 25px #bbb; }
  #brands-carousel-left ul,
  #brands-carousel-center ul,
  #brands-carousel-right ul {
    list-style-type: none;
    padding: 0;
    width: 900px; }
  #brands-carousel-left li,
  #brands-carousel-center li,
  #brands-carousel-right li {
    float: left; }

@media (max-width: 888px) {
  #brands-carousel-left,
  #brands-carousel-right {
    display: none; } }
/*======== Pages ========*/
.page {
  max-width: 100%;
  margin-top: 88px;
  min-height: calc(100vh - 88px);
  text-align: center; }
  .page .image {
    height: calc(100vh - 88px);
    padding: 0;
    overflow: hidden;
    background-size: cover;
    background-position: center; }
    .page .image h1 {
      color: #e8c15f;
      background-color: rgba(35, 39, 38, 0.6);
      padding: 30px;
      margin-top: 40vh; }
  .page .kitchen {
    background-image: url("../images/slider/slide01.jpg"); }
  .page .living {
    background-image: url("../images/slider/slide03.jpg"); }
  .page .bathroom {
    background-image: url("../images/slider/slide02.jpg"); }
  .page .text {
    max-height: calc(100vh - 88px);
    text-align: center;
    padding: 120px 60px 60px 60px; }
    .page .text p {
      padding: 20px;
      font-size: 20px; }

@media (max-width: 1056px) {
  .page .text {
    padding: 80px 30px 30px 30px; } }
@media (max-width: 767px) {
  .page .text {
    max-height: none; } }
/*======== Footer ========*/
footer {
  min-height: 200px;
  background-color: #232726;
  color: #fff; }
  footer h3 {
    color: #e8c15f;
    margin-bottom: 20px; }
  footer .box-1 h3::after {
    display: inline-block;
    content: '';
    float: right;
    position: relative;
    top: 9px;
    width: calc(100% - 130px);
    height: 2px;
    background-color: #e8c15f; }
  footer .box-2 h3::after {
    display: inline-block;
    content: '';
    float: right;
    position: relative;
    top: 9px;
    width: calc(100% - 130px);
    height: 2px;
    background-color: #e8c15f; }
  footer .box-3 h3::after {
    display: inline-block;
    content: '';
    float: right;
    position: relative;
    top: 9px;
    width: calc(100% - 60px);
    height: 2px;
    background-color: #e8c15f; }
  footer .box {
    margin-bottom: 60px;
    padding: 0 30px; }

.copy {
  color: #777;
  padding: 10px 15px; }

/*# sourceMappingURL=style.css.map */
