@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Alfa+Slab+One|Baloo");

/*Used colors: dark-brown: #232726 gold: #e8c15f*/

$gold: #e8c15f;
$brown: #232726;
$bg: #fff;
$gray: #888;
$dark: #222;


/*======== Global ========*/

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0px;
}

.row {
    padding: 15px;
    margin: 0;
}


/*======== Header ========*/

.socialbar {
    position: fixed;
    top: 0;
    color: $bg;
    font-weight: 700;
    text-align: center;
    background-color: $brown;
    width: 100%;
    height: 26px;
    line-height: 26px;
    z-index: 100000000;
    a {
        color: $bg;
    }
    span {
        margin: 0 10px;
        i {
            margin: 0 5px;
        }
    }
}

header {
    position: absolute;
    top: 26px;
    width: 100%;
    background-color: $brown;
    border-top: 1px groove #aaa;
    border-bottom: 1px groove #aaa;
    position: fixed;
    z-index: 10000;
    .header {
        width: 100%;
        height: 60px;
        line-height: 60px;
        img {
            max-width: 300px;
        }
    }
}


/* header: DesktopNav */

.nav {
    float: right;
    ul {
        list-style-type: none;
    }

    li {
        display: inline-block;
        padding: 0 20px;
        color: #fff;
        cursor: pointer;
    }
    a:hover li {
        background-color: #2e3331;
    }

    .active {
        color: #e8c15f;
    }
}

@media (max-width: 1056px) {
    .nav li {
        padding: 0 10px;
    }
}

@media (max-width: 767px) {
    .nav {
        display: none;
    }
}


/* header: HabmurgerNav */

.hamburger {
    background: none;
    position: absolute;
    top: 0;
    right: 20px;
    line-height: 60px;
    padding: 0 15px;
    color: $gold;
    border: 0;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 10000000000000;
}

.cross {
    background: none;
    position: absolute;
    top: 0px;
    right: 25px;
    padding: 5px 15px 0px 15px;
    color: $gold;
    border: 0;
    font-size: 3em;
    line-height: 65px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 10000000000000;
}

.menu {
    z-index: 1000000;
    font-weight: bold;
    font-size: 0.8em;
    width: 100%;
    background: #f1f1f1;
    position: fixed;
    top: 88px;
    text-align: center;
    font-size: 12px;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
}

.menu li {
    padding: 15px 0 15px 0;
    border-bottom: #dddddd 1px solid;
}

.menu li:hover {
    display: block;
    background: #f7f7f7;
    padding: 15px 0 15px 0;
    border-bottom: #dddddd 1px solid;
}

.menu a {
    text-decoration: none;
    color: #666;
}

.menu a :hover {
    text-decoration: none;
    color: #666;
}

.glyphicon-home {
    color: $bg;
    font-size: 1.5em;
    margin-top: 5px;
    margin: 0 auto;
}

.header {
    display: inline-block;
    font-size: 12px;
}

@media (min-width: 768px) {
    .hamburger {
        display: none;
    }
}


/*======== Carousel ========*/

.fa-arrow-circle-o-down {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 80px;
    color: $brown;
    text-shadow: 2px 1px $bg;
    z-index: 1000;
    animation: blinker .9s ease infinite;
    cursor: pointer;
}

@keyframes blinker {
    50% {
        opacity: .7;
    }
}

.carousel-control {
    transition: .5s ease;
}

@media (max-width: 767px) {
    .fa-arrow-circle-o-down {
        font-size: 60px;
    }
}

.full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-caption {
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(232, 193, 95, 0.6), rgba(0,0,0,0));
    width: 100%;
    text-align: left;
    margin: 0;
    h3 {
        position: relative;
        bottom: 28px;
        color: $brown;
        font-size: 50px;
        font-weight: bold;
        font-style: italic;
        text-shadow: 2px 1px $bg;
        padding: 20px 20px 20px 40px;
    }
}

#mycarousel {
    li {
        border: 1px solid $brown;
    }
    .active {
        background-color: $brown;
    }
}


/*======== Home ========*/

main .container {
    min-height: 300px;
}

.content {
    margin-top: 0px;  
    border-left: solid 2px $brown;
    border-right: solid 2px $brown;
}

.values {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    letter-spacing: 3px;
    font-family: 'Baloo', cursive;
    color: $brown;
    padding: 120px 30px 30px 30px;
    h1 {
        font-size: 36px;
        float: left;
        padding: 10px 30px;
        display: block;
        width: 320px;
    }
    i {
        font-size: 60px;
        padding-bottom: 40px;
        line-height: 100px;
    }
    span i {
        color: $gold;
        font-size: 100px;
    }
}

.flex {
    border-top: 1px groove $brown;
    border-bottom: 1px groove $brown;
    margin-bottom: 100px;
    .stamp {
        text-align: center;
    }
    img {
        max-width: 250px;
        float: left;
    }
    h2 {
        margin-top: 70px;
        padding: 30px auto;
    }
}

@media (max-width: 767px) {
    .flex img {
        float: none;
        text-align: center;
    }
}

.contentbox {
    display: block;
}

.guarantee {
    color: $gold;
    background-color: $brown;
    padding: 30px;
}

.welcome {
    max-width: 600px; // border-bottom: 1px groove $brown;
    padding-bottom: 10px;
    margin: 0 auto 50px auto;
    text-align: justify;
    h4 {
        font-size: 22px;
        margin-bottom: 60px;
    }
    .icon {
        text-align: center;
        font-size: 50px;
        margin-bottom: 60px;
    }
}


.picbuttons {
    // margin: 0 auto 30px auto;
    margin: 0 auto;
    width: 100%;
}

#myBtn1 {
    background-image: url("../images/picbuttons/picbtn01.jpg");
}

#myBtn2 {
    background-image: url("../images/picbuttons/picbtn02.jpg");
}

#myBtn3 {
    background-image: url("../images/picbuttons/picbtn03.jpg");
}

.picbutton {
    display: inline-block;
    position: relative;
    width: 100%;
    min-height: 400px;
    margin-bottom: 20px;
    cursor: pointer;
    background-size: cover;
    color: $brown;
    text-align: center;
    z-index: 0;
    a {
        color: $brown;
    }
    h1 {
        text-shadow:
          -2px -2px 0 $gold,  
          2px -2px 0 $gold,
          -2px 2px 0 $gold,
          2px 2px 0 $gold;
        line-height: 400px;
        margin: 0;
        font-size: 60px;
        transition: .3s ease;
    }
    :hover {
        text-decoration: none;
    }
     :before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $gold;
        transform: scaleX(0);
        transform-origin: 0 50%;
        transition: transform .3s ease-out;
    }

     :hover:before {
        transform: scaleX(1);
    }
}

.staff {
    text-align: center;
    color: $gold;
    background-color: $brown;
    padding-top: 50px;
    h1 {
        font-family: 'Alfa Slab One', cursive;
        text-transform: uppercase;
        padding-bottom: 30px;
        letter-spacing: 2px;
    }
    img {
        display: block;
        width: 100%;
        max-width: 300px;
        margin: 20px auto 60px auto;
    }
    h4 {
        line-height: 25px;
        padding: 0 40px 50px 40px;
    }
}


/*======== Brands ========*/

.brands-header {
    text-align: center;
    margin-top: 100px;
    background-color: #eee;
    border-bottom: solid thin #ddd;
}

.brands-header h1 {
    margin: 0;
    padding: 20px;
}

.brands {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    background-color: #eee;
}

#brands-carousel-left,
#brands-carousel-center,
#brands-carousel-right {
    margin: 50px auto 0 auto;
    width: 300px;
    height: 200px;
    overflow: hidden;
    box-shadow: 3px 4px 25px #bbb;
    ul {
        list-style-type: none;
        padding: 0;
        width: 900px;
    }
    li {
        float: left;
    }
}

@media (max-width: 900px) {
    #brands-carousel-left,
    #brands-carousel-right {
        display: none;
    }
}


/*======== Footer ========*/

footer {
    min-height: 200px;
    background-color: $brown;
    color: $bg;
    h3 {
        color: $gold;
        margin-bottom: 20px;
    }

    .box-1 h3::after {
        display: inline-block;
        content: '';
        float: right;
        position: relative;
        top: 9px;
        width: calc(100% - 160px);
        height: 2px;
        background-color: $gold;
    }

    .box-2 h3::after {
        display: inline-block;
        content: '';
        float: right;
        position: relative;
        top: 9px;
        width: calc(100% - 210px);
        height: 2px;
        background-color: $gold;
    }

    .box-3 h3::after {
        display: inline-block;
        content: '';
        float: right;
        position: relative;
        top: 9px;
        width: calc(100% - 70px);
        height: 2px;
        background-color: $gold;
    }

    .box {
        margin-bottom: 60px;
        padding: 0;
    }
}

@media (max-width: 767px) {
    footer .box {
        padding-bottom: 10px;
    }
}

.copy {
    text-align: right;
    color: $gold;
    background-color: #333;
    padding: 10px 25px;
}


/*======== Testimonials ========*/


/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  position: static;
  margin: 0 auto 20px auto;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: $gold;
  border: none;
  margin: 0;
  padding: 0;
}
#fade-quote-carousel blockquote {
    text-align: left;
    font-size: 16px;
    font-style: italic;
    border: none;
    padding: 0;
    margin: 0;
}

#fade-quote-carousel {
    width: calc(100% - 0px);
    float: right;
}



.carousel-box .full-screen {
    max-height: 250px;
    overflow: visible;
}

section {
    padding-top: 0px;
    padding-bottom: 0px;
}

.quote {
    display: inline-block;
    color: rgba(232, 193, 95, 0.4);
    font-size: 10px;
    text-align: left;
    width: 30px;
    float: left;
}

.testi-box {
    padding: 0;
    margin: 0;
    z-index: 10;
}

.carousel-inner {
    width: 100%;
}

// #fade-quote-carousel .item {
//     max-height: 200px;
// }


/*======== Find Us & Map ========*/

.adress {
    padding-top: 42px;
    text-align: center;
}

.map {
    margin-top: 30px;
}


/*======== Pages ========*/

.page {
    max-width: 100%;
    margin-top: 88px;
    min-height: calc(100vh - 88px);
    text-align: center;
    .image {
        height: calc(100vh - 88px);
        padding: 0;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        h1 {
            color: $gold;
            background-color: rgba(35, 39, 38, .6);
            padding: 30px;
            margin-top: 40vh;
        }
    }
    .kitchen {
        background-image: url('../images/slider/slide01.jpg');
    }
    .living {
        background-image: url('../images/slider/slide02.jpg');
    }
    .bathroom {
        background-image: url('../images/slider/slide03.jpg');
    }
    .text {
        max-height: calc(100vh - 88px);
        text-align: center;
        padding: 120px 60px 60px 60px;
        p {
            padding: 20px;
            font-size: 20px;
        }
    }
}

@media (max-width: 1056px) {
    .page .text {
        padding: 80px 30px 30px 30px;
    }
}

@media (max-width: 767px) {
    .page .text {
        max-height: none;
    }
}

